.about-us {
  width: $mobile-width;
  margin: 0 auto;
  padding: 27px 30px 45px;
}

.about-us__title {
  margin: 0;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.about-us__features {
  @include list-reset;
  margin-top: 62px;
}

.about-us__feature {
  position: relative;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
  padding-top: 24px;
  padding-bottom: 10px;
  margin-top: 49px;

  &::before {
    position: absolute;
    display: block;
    content: "";
    background-repeat: no-repeat;
    background-size: contain;
  }

  &--eco::before {
    width: 32px;
    height: 37px;
    top: -30px;
    left: 8px;
    background-image: url("../img/icon-feature-flower.svg");
  }

  &--style::before {
    width: 47px;
    height: 28px;
    top: -30px;
    left: 0;
    background-image: url("../img/icon-feature-money.svg");
  }

  &--likes::before {
    width: 34px;
    height: 28px;
    top: -25px;
    left: 8px;
    background-image: url("../img/icon-feature-heart.svg");
  }

  &--manually::before {
    width: 35px;
    height: 34px;
    top: -27px;
    left: 3.5px;
    background-image: url("../img/icon-feature-ball.svg");
  }

  &--support::before {
    width: 55px;
    height: 23px;
    top: -26px;
    left: -5.5px;
    background-image: url("../img/icon-feature-rocket.svg");
  }

  &--packing::before {
    width: 33px;
    height: 32px;
    top: -28px;
    left: 3px;
    background-image: url("../img/icon-feature-gift.svg");
  }
}

@media (min-width: $tablet-width) {
  .about-us {
    width: $tablet-width;
    padding-top: 49px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .about-us__title {
    font-size: 43px;
    line-height: 50px;
    margin-left: -4px;
  }

  .about-us__features {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .about-us__feature {
    width: 334px;
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 28px;

    &--style {
      order: 3;
    }

    &--likes {
      order: 5;
    }

    &--manually {
      order: 2;
    }

    &--support {
      order: 4;
    }

    &--packing {
      order: 6;
    }
  }
}

@media (min-width: $desktop-width) {
  .about-us {
    width: $desktop-width;
    padding-left: 225px;
    padding-top: 60px;
    padding-bottom: 50px;
  }

  .about-us__title {
    font-size: 53px;
    line-height: 57px;
  }

  .about-us__feature {
    margin-right: 16px;
  }
}
