.categories {
  width: $mobile-width;
  margin: 0 auto;
  padding-top: 70px;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% -18px;
}

.categories__title {
  margin: 0 30px;
  font-size: 27px;
  line-height: 30px;
  color: #000000;
  font-weight: 700;
  text-align: center;
}

.categories__list {
  @include list-reset;
  margin-top: 122px;
}

.categories__item {
  display: block;
}

.categories__link {
  display: block;
  position: relative;
  color: #ffffff;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  padding: 26px 160px 29px 30px;
  outline: none;

  &--interior {
    background-color: $decorative-color1;
  }

  &--toys {
    background-color: #56c3b2;
  }

  &--interior::after {
    display: block;
    position: absolute;
    content: "";
    width: 40px;
    height: 62px;
    right: 36px;
    top: 23px;
    background: url("../img/icon-interior.svg") no-repeat;
    opacity: 0.5;
  }

  &--toys::after {
    display: block;
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    right: 27px;
    top: 21px;
    background: url("../img/icon-toy.svg") no-repeat;
    opacity: 0.5;
  }

  &:hover,
  &:focus {
    padding-bottom: 34px;
    margin-top: -5px;
  }

  &:hover::after,
  &:focus::after {
    opacity: 0.7;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &:active::after {
    opacity: 0.3;
  }
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .categories {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: 575px auto;
  }
}

@media (min-width: $tablet-width) {
  .categories {
    position: relative;
    z-index: 0;
    width: $tablet-width;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 153px;
    background-image: url("../img/hero-tablet@1x.jpg");
    background-position: 50% 100%;

    &::after {
      display: block;
      position: absolute;
      content: "";
      width: inherit;
      height: 24px;
      bottom: -12px;
      left: 0;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  .categories__title {
    font-size: 43px;
    line-height: 50px;
  }

  .categories__list {
    display: flex;
    flex-direction: row;
    margin-top: 373px;
  }

  .categories__item {
    width: 334px;
  }

  .categories__link {
    font-size: 20px;
    line-height: 30px;
    padding-left: 36px;
    padding-top: 28px;
    padding-bottom: 31px;

    &--interior::after {
      top: 30px;
    }

    &--toys::after {
      right: 33px;
      top: 32px;
    }

    &:hover {
      margin-top: -5px;
      padding-bottom: 36px;
    }
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .categories {
      background-image: url("../img/hero-tablet@2x.jpg");
      background-size: 1150px auto;
    }
  }
}

@media (min-width: $desktop-width) {
  .categories {
    width: $desktop-width;
    background-image: url("../img/hero-desktop@1x.jpg");
    background-position: 50% 100%;

    &::after {
      height: 34px;
      bottom: -15px;
      background-size: $desktop-width 40px;
    }
  }

  .categories__title {
    font-size: 53px;
    line-height: 57px;
  }

  .categories__list {
    margin-top: 359px;
  }

  .categories__item {
    width: 525px;
  }

  .categories__link {
    padding-right: 350px;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .categories {
      background-image: url("../img/hero-desktop@2x.jpg");
    }
  }
}
