.developer {
  display: flex;
  align-items: center;
  width: 182px;
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;

  &:active {
    opacity: 0.3;
  }
}

.developer__logo {
  margin-top: 6px;
  margin-left: 29px;
}
