.developer {
  display: flex;
  align-items: center;
  width: 182px;
  height: 34px;
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
  position: relative;
  outline: none;

  &:active {
    opacity: 0.3;
  }

  & svg {
    position: absolute;
    right: 0;
    top: 2px;
    fill: $decorative-color1;
  }

  &:hover svg,
  &:focus svg {
    fill: $decorative-color2;
  }
}
