.developer {
  display: flex;
  align-items: center;
  width: 182px;
  height: 34px;
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
  position: relative;

  &:active {
    opacity: 0.3;
  }
}

.developer__logo {
  position: absolute;
  right: 0;
  top: 2px;
}
