.form-order {
  padding-top: 22px;
  padding-bottom: 55px;
}

.form-order__desc {
  margin: 0 auto;
  width: $mobile-width;
  font-size: 13px;
  padding-left: 30px;
  padding-right: 30px;
}

.form-order__message,
.form-order__set {
  width: $mobile-width;
  margin: 0 auto;
  padding: 0 30px;
  border-style: none;

  &--type {
    padding-top: 25px;
  }

  &--color {
    padding-top: 21px;
    padding-bottom: 8px;
  }

  &--contacts {
    padding-top: 9px;
  }
}

.form-order__title {
  position: relative;
  margin: 0;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: $decorative-color1;

  &::after {
    position: absolute;
    display: block;
    content: "";
    width: 198px;
    height: 1px;
    background-color: $decorative-color1;
    top: 7px;
    right: 0;
  }
}

.form-order__list {
  @include list-reset;
  width: 260px;

  &--type {
    margin-top: 33px;
  }

  &--color {
    margin-top: 27px;
  }

  &--fullname {
    margin-top: 22px;
  }

  &--contacts {
    margin-top: 7px;
  }
}

.form-order__type-item {
  margin-bottom: 24px;
  padding-left: 63px;
  width: 260px;
}

.form-order__item {
  display: block;
  position: relative;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
  cursor: pointer;

  &--type::before {
    position: absolute;
    display: block;
    content: "";
    width: 39px;
    height: 39px;
    background: #ffffff;
    border: 2px solid $secondary-color;
    border-radius: 50%;
    left: -63px;
    top: -9px;

    &:hover {
      border-color: $decorative-color1;
    }

    &:active {

      border-color: rgba(68, 68, 68, 0.3);
    }
  }

  &--type:hover::before {
    border-color: $decorative-color1;
  }

  &--type:active::before {
    border-color: rgba(68, 68, 68, 0.3);
  }

  &--color::before {
    position: absolute;
    display: block;
    content: "";
    width: 40px;
    height: 39px;
    background: transparent;
    border: 2px solid $secondary-color;
    left: -63px;
    top: -11px;

    &:hover {
      border-color: $decorative-color1;
    }

    &:active {

      border-color: rgba(68, 68, 68, 0.3);
    }
  }

  &--color:hover::before {
    border-color: $decorative-color1;
  }

  &--color:active::before {
    border-color: rgba(68, 68, 68, 0.3);
  }

  &--desc {
    position: relative;
    font-size: 17px;
    line-height: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: $decorative-color1;

    &::after {
      position: absolute;
      display: block;
      content: "";
      width: 198px;
      height: 1px;
      background-color: $decorative-color1;
      top: 8px;
      right: 0;
    }
  }

  &--email::after {
    width: 179px;
  }
}

.form-order__radio:checked + .form-order__item::before {
  background: radial-gradient($decorative-color1, $decorative-color1 8px, #ffffff 8px, #ffffff 20px);
}

.form-order__radio:focus + .form-order__item::before,
.form-order__checkbox:focus + .form-order__item::before {
  border-color: $decorative-color1;
}

.form-order__checkbox:checked + .form-order__item::before {
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 22px, 16px;
}

.form-order__color-item {
  padding-top: 8px;
  margin-bottom: 35px;
  padding-left: 63px;
}

.form-order__fullname-item {
  padding-top: 6.8px;
  margin-bottom: 16px;
}

.form-order__contacts-item {
  margin-bottom: 32px;
  position: relative;
}

.form-order__name,
.form-order__contact,
.form-order__text {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  height: 51px;
  width: 260px;
  border: none;
  border-bottom: 2px solid #000000;
  outline: none;

  &::placeholder {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 17px;
    line-height: 51px;
    color: rgba(68, 68, 68, 0.3);
  }

  &:hover,
  &:focus {
    border-color: $decorative-color1;
  }
}

.form-order__contact {
  margin-top: 8px;

  &:hover + svg,
  &:focus + svg {
    opacity: 1;
    fill: $decorative-color1;
  }
}

.form-order__icon-phone {
  position: absolute;
  top: 34px;
  right: 8px;
  fill: #231f20;
  opacity: 0.2;
}

.form-order__icon-mail {
  position: absolute;
  top: 34px;
  right: 4px;
  fill: #231f20;
  opacity: 0.2;
}

.form-order__text {
  margin-top: 25px;
  margin-bottom: 10px;
  padding-left: 15px;
  padding-right: 10px;
  padding-top: 14px;
  padding-bottom: 10px;
  border: 2px solid $secondary-color;
  min-height: 142px;

  &::placeholder {
    line-height: 18px;
  }
}

.form-order__required {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
}

.form-order__send {
  width: 260px;
  margin: 0 auto;
  padding: 0;
  font-size: 17px;
  line-height: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-top: 31px;
}

@media (min-width: $tablet-width) {
  .form-order {
    padding-top: 72px;
    padding-bottom: 50px;
  }

  .form-order__container {
    background-color: $background-color;
  }

  .form-order__desc {
    width: $tablet-width;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 17px;
    line-height: 30px;
  }

  .form-order__set {
    width: $tablet-width;
    padding-left: 50px;
    padding-right: 50px;

    &--type {
      padding-top: 73px;
      padding-bottom: 10px;
    }

    &--color {
      padding-top: 65px;
      padding-bottom: 11px;
    }

    &--fullname {
      padding-top: 47px;
      padding-bottom: 29px;
    }

    &--contacts {
      padding-top: 39px;
      padding-bottom: 37px;
    }
  }

  .form-order__wrapper {
    width: 668px;
    display: flex;
    align-items: baseline;
  }

  .form-order__title {
    margin-top: 2px;
    margin-left: 2px;

    &::after {
      display: none;
    }
  }

  .form-order__list {
    width: 501px;
    margin-top: 0;

    &--type {
      margin-left: 129px;
    }

    &--color {
      display: flex;
      flex-wrap: wrap;
      margin-left: 121px;
    }

    &--fullname {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 124px;
    }
  }

  .form-order__type-item {
    display: flex;
    width: 501px;
    padding-left: 80px;
    margin-bottom: 58px;
  }

  .form-order__item {
    font-size: 19px;

    &--type::before {
      width: 52px;
      height: 52px;
      left: -80px;
      top: -16px;
    }

    &--color::before {
      width: 54px;
      height: 52px;
      top: -15px;
      left: -81px;
    }

    &--desc {
      font-size: 17px;
      line-height: 16px;
      margin-left: 1px;

      &::after {
        display: none;
      }
    }
  }

  .form-order__radio:checked + .form-order__item::before {
    background: radial-gradient($decorative-color1, $decorative-color1 11px, #ffffff 11px);
  }

  .form-order__color-item {
    display: flex;
    width: 239px;
    padding-top: 0;
    padding-left: 81px;
    margin-bottom: 58px;
    margin-right: 22px;

    &:nth-of-type(2n) {
      margin-right: 0;
    }
  }

  .form-order__checkbox:checked + .form-order__item::before {
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 33px, 22px;
  }

  .form-order__fullname-item {
    display: flex;
    width: 501px;
    padding-top: 0;
    margin-bottom: 21px;
  }

  .form-order__name {
    width: 375px;
    font-size: 19px;
    margin-left: 25px;
    padding-left: 17px;
    height: 55px;

    &--name {
      width: 427px;
      padding-left: 15px;
    }

    &::placeholder {
      font-size: 19px;
    }
  }

  .form-order__contacts-item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: relative;
    width: 668px;
    margin-bottom: 13px;
  }

  .form-order__contact {
    width: 501px;
    font-size: 19px;
    height: 55px;
    padding-left: 17px;
    margin-left: auto;
    background-color: transparent;

    &::placeholder {
      font-size: 19px;
    }
  }

  .form-order__icon-phone {
    right: 26px;
    top: 22px;
  }

  .form-order__icon-mail {
    right: 22px;
    top: 22px;
  }

  .form-order__message {
    width: $tablet-width;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }

  .form-order__text {
    width: 501px;
    font-size: 19px;
    margin: 0;
    padding-top: 13px;

    &::placeholder {
      font-size: 19px;
    }
  }

  .form-order__required {
    width: auto;
    margin: 0;
    padding: 0;
    order: 1;
    font-size: 17px;
    line-height: 30px;
  }

  .form-order__send {
    margin: 0;
    margin-top: 53px;
    width: 230px;
  }
}

@media (min-width: $desktop-width) {
  .form-order {
    padding-top: 125px;
  }

  .form-order__desc {
    padding: 0;
    width: 700px;
  }

  .form-order__set {
    width: $desktop-width;

    &--type {
      padding-bottom: 9px;
    }
  }

  .form-order__wrapper {
    width: 1050px;
    padding-left: 63px;
  }

  .form-order__list {
    width: 1050px;

    &--type {
      margin-left: 74px;
    }

    &--color {
      margin-left: 66px;
    }

    &--fullname {
      margin-left: 70px;
    }

    &--contacts {
      padding-left: 61px;
    }
  }

  .form-order__color-item {
    margin-right: 23px;
    margin-bottom: 58px;

    &:nth-of-type(2n) {
      margin-right: 23px;
    }
  }

  .form-order__fullname-item {
    width: 700px;
  }

  .form-order__name {
    width: 573px;

    &--name {
      width: 625px;
    }
  }

  .form-order__contacts-item {
    width: 813px;
  }

  .form-order__contact {
    width: 700px;
  }

  .form-order__icon-phone {
    right: 7px;
  }

  .form-order__icon-mail {
    right: 3px;
  }

  .form-order__message {
    padding-top: 50px;
    padding-left: 112px;
    padding-right: 225px;
    width: $desktop-width;

    & .form-order__item {
      margin-top: 17px;
    }
  }

  .form-order__text {
    width: 700px;
  }

  .form-order__send {
    margin-top: 49px;
    margin-left: 113px;
  }
}
