.main-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: $mobile-width;
  margin: 0 auto;

  & .main-nav__menu,
  & .main-nav__user-nav {
    display: flex;
    flex-direction: column;
  }

  & .main-nav__toggle-open {
    display: none;
  }

  &--closed .main-nav__toggle-open {
    display: block;
  }

  &--closed .main-nav__menu,
  &--closed .main-nav__user-nav,
  &--closed .main-nav__toggle-close {
    display: none;
  }

  &--no-js .main-nav__menu,
  &--no-js .main-nav__user-nav {
    display: flex;
    flex-direction: column;
  }

  &--no-js .main-nav__toggle {
    display: none;
  }
}

.main-nav__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: $mobile-width;
  padding: 21px 30px 22px 116px;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}

.main-nav__logo {
  height: 35px;
  outline: none;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--index:hover {
    opacity: 1;
  }
}

.main-nav__toggle {
  padding: 0;
  margin: 0;
  background-color: inherit;
  border-style: none;
  cursor: pointer;
}

.main-nav__menu,
.main-nav__user-nav {
  @include list-reset;
  display: none;
  width: $mobile-width;
  margin: 0 auto;
}

.main-nav__additional {
  @include list-reset;
  display: none;
}

.main-nav__delivery {
  display: none;
}

.main-nav__item {
  display: block;
  border-bottom: 1px solid #ececec;
}

.main-nav__link {
  position: relative;
  display: block;
  color: #000000;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  padding: 27px 30px 27px 76px;
  text-align: left;
  outline: none;

  &:hover,
  &:focus {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }

  &--basket svg {
    position: absolute;
    left: 30px;
    top: 29px;
    fill: #231f20;
    opacity: 0.2;
  }

  &--search svg {
    position: absolute;
    left: 32px;
    top: 31px;
    fill: #231f20;
    opacity: 0.2;
  }

  &:hover svg,
  &:focus svg {
    opacity: 1;
    fill: $decorative-color1;
  }

  &:active svg {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    position: relative;
    width: $tablet-width;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: -42px;
    z-index: 1;

    & .main-nav__menu,
    & .main-nav__user-nav {
      display: flex;
      flex-direction: row;
    }
  }

  .main-nav__inner {
    width: 320px;
    padding: 0;
    padding-top: 22px;
    padding-bottom: 20px;
    border: none;
  }

  .main-nav__logo {
    height: 46px;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__menu {
    width: 320px;
    margin: 0;
    padding-top: 18px;
    padding-right: 15px;
    justify-content: space-between;
    order: 2;
  }

  .main-nav__menu .main-nav__link {
    font-size: 15px;
  }

  .main-nav__user-nav {
    width: 348px;
    align-items: center;
    justify-content: space-between;
    order: 1;
  }

  .main-nav__item {
    border: none;
  }

  .main-nav__link {
    padding: 0;

    &--search {
      width: 84px;
      padding-top: 35px;
      padding-bottom: 53px;
      border-left: 1px solid #ececec;
      border-right: 1px solid #ececec;

      & svg {
        top: auto;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0.2;
      }
    }

    &--basket svg {
      top: 3px;
      left: -51px;
    }
  }

  .main-nav__search {
    display: none;
  }

  .main-nav__delivery {
    margin: 0;
    margin-top: 18px;
    display: block;
    order: 2;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: $desktop-width;
  }

  .main-nav__inner {
    width: 149px;
    padding: 0;
  }

  .main-nav__logo {
    height: 72px;
  }

  .main-nav__menu {
    width: 450px;
    order: -1;
    padding: 0;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .main-nav__menu .main-nav__item {
    display: flex;
    width: 185px;
    padding-top: 31px;
    padding-bottom: 33px;

    &:first-child {
      margin-right: 35px;
      border-right: 1px solid #ececec;
    }
  }

  .main-nav__menu .main-nav__link {
    width: auto;
    font-size: 17px;
  }

  .main-nav__user-nav {
    margin-right: 2px;
  }

  .main-nav__additional {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-top: 18px;
    order: 1;
    width: 525px;
  }

  .main-nav__additional .main-nav__item {
    margin-right: 62px;
  }

  .main-nav__additional .main-nav__link {
    font-size: 15px;
  }
}
