.production {
  width: $mobile-width;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 58px;
}

.production__wrapper {
  border: 1px solid #ececec;
  padding-right: 34px;
  padding-top: 24px;
  padding-bottom: 32px;
  width: 100%;

  &:hover,
  &:focus-within {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.production__title {
  position: relative;
  margin: 0;
  margin-bottom: 24px;
  font-size: 17px;
  font-weight: 700;
  color: #000000;
  padding-left: 89px;

  &::before {
    display: block;
    position: absolute;
    content: "";
    width: 32px;
    height: 32px;
    background: url("../img/icon-video.svg") no-repeat;
    left: 33px;
    top: 6px;
  }
}

.production__container {
  height: 150px;
  position: relative;
  width: 260px;
  margin-bottom: 27px;
  background-image: url("../img/video-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: -1px 100%;
}

.production__play {
  position: absolute;
  display: block;
  width: 101px;
  height: 77px;
  background-image: url("../img/icon-play.svg");
  background-repeat: no-repeat;
  top: 37px;
  left: 79px;
  outline: none;

  &:hover,
  &:focus {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.8);
    opacity: 0.3;
  }
}

.production__text {
  margin: 0;
  font-size: 13px;
  margin-left: 34px;
}

.production__order {
  width: 192px;
  font-size: 17px;
  line-height: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-left: 33px;
  margin-top: 25px;
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .production__container {
    background-image: url("../img/video-mobile@2x.jpg");
    background-size: 260px auto;
  }
}

@media (min-width: $tablet-width) {
  .production {
    width: $tablet-width;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 63px;
  }

  .production__wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 45px;
  }

  .production__title {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 32px;
    padding-left: 105px;

    &::before {
      top: -5px;
      left: 40px;
    }
  }

  .production__container {
    order: -1;
    height: 455px;
    width: 668px;
    border-bottom: 1px solid #ececec;
    background-image: url("../img/video-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: -1px 0;
  }

  .production__play {
    top: 187px;
    left: 283px;
  }

  .production__text {
    font-size: 15px;
    line-height: 30px;
    margin-left: 40px;
  }

  .production__order {
    width: 584px;
    margin-left: 41px;
    margin-top: 35px;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .production__container {
      background-image: url("../img/video-tablet@2x.jpg");
      background-size: 668px auto;
    }
  }
}

@media (min-width: $desktop-width) {
  .production {
    width: $desktop-width;
    margin-bottom: 105px;
  }

  .production__wrapper {
    position: relative;
    padding: 0;
    padding-left: 760px;
    padding-right: 56px;
    padding-top: 95px;
    padding-bottom: 59px;
  }

  .production__container {
    position: absolute;
    width: 683px;
    height: 453px;
    background-image: url("../img/video-desktop@1x.jpg");
    background-position: -1px -1px;
    border: none;
    left: 0;
    top: 0;
  }

  .production__play {
    top: 189px;
    left: 290px;
  }

  .production__title {
    padding: 0;
    margin: 0;
    margin-bottom: 32px;

    &::before {
      top: -54px;
      left: 1px;
    }
  }

  .production__text {
    margin-left: 0;
    margin-bottom: 12px;
  }

  .production__order {
    margin-left: 0;
    width: 230px;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .production__container {
      background-image: url("../img/video-desktop@2x.jpg");
      background-size: 682px auto;
    }
  }
}
