.reviews {
  position: relative;
  width: $mobile-width;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 51px;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-size: $mobile-width 7px;
    background-repeat: no-repeat;
    transform: scale(-1);
  }
}

.reviews__title {
  margin: 0;
  margin-bottom: 24px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.reviews__text {
  margin: 0;
  line-height: 30px;
  margin-bottom: 27px;
}

.reviews__name {
  margin: 0;
  margin-bottom: 6px;
  font-size: 17px;
  font-weight: 700;
  color: #000000;
}

.reviews__instagram {
  font-size: 17px;
  color: $secondary-color;
  outline: none;

  &:hover,
  &:focus {
    color: $decorative-color1;
  }

  &:active {
    opacity: 0.3;
  }
}

.reviews__switch {
  position: relative;
  margin-top: 32px;
  border: 1px solid #ececec;
  box-sizing: border-box;
  display: flex;

  &::before {
    position: absolute;
    display: block;
    content: "";
    width: 1px;
    height: 100%;
    background-color: #ececec;
    left: 50%;
  }
}

.reviews__prev {
  margin: 0;
  padding: 0;
  border-style: none;
  width: 130px;
  height: 50px;
  cursor: pointer;
  background: url("../img/icon-left-arrow.svg") no-repeat 37px 50%;
  background-color: inherit;
  outline: none;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.reviews__next {
  margin: 0;
  padding: 0;
  border-style: none;
  width: 130px;
  height: 50px;
  cursor: pointer;
  background: url("../img/icon-right-arrow.svg") no-repeat 38px 50%;
  background-color: inherit;
  outline: none;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.reviews__write {
  width: 260px;
  font-size: 18px;
  line-height: 20px;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-top: 38px;
}

@media (min-width: $tablet-width) {
  .reviews {
    position: relative;
    width: $tablet-width;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 77px;
    padding-bottom: 135px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 350px 457px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 17px;
      background-image: url("../img/bg-zigzag-line.svg");
      background-size: $tablet-width 17px;
      background-repeat: no-repeat;
      transform: scale(-1);
    }
  }

  .reviews__title {
    font-size: 43px;
    line-height: 50px;
    margin-left: -4px;
    order: -1;
  }

  .reviews__text {
    font-size: 17px;
    margin-top: 25px;
  }

  .reviews__switch {
    margin-top: 34px;
    margin-right: 19px;
    border: none;

    &::before {
      display: none;
    }
  }

  .reviews__prev {
    width: 50px;
    background-position: 0 50%;
    margin-right: 37px;
  }

  .reviews__next {
    width: 50px;
    background-position: 0 50%;
  }

  .reviews__write {
    order: -1;
    width: 175px;
    margin-top: 2px;
    font-size: 17px;
    align-self: flex-start;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .reviews {
      background-image: url("../img/review@2x.jpg");
    }
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    width: $desktop-width;
    padding-left: 225px;
    padding-top: 71px;
    padding-bottom: 189px;
    background-position: 50px 1px;

    &::after {
      width: 1050px;
      height: 24px;
      left: 50px;
      background-size: 1050px 24px;
    }
  }

  .reviews__title {
    font-size: 53px;
    line-height: 57px;
  }

  .reviews__text {
    margin-bottom: 8px;
    padding-right: 74px;
  }

  .reviews__write {
    margin-top: 9px;
  }
}
