@charset "UTF-8";
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff") format("woff"), url("../fonts/opensans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensansbold.woff") format("woff"), url("../fonts/opensansbold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  min-width: 320px;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #444444; }

img {
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.btn {
  display: block;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  font-weight: 700;
  background-color: #ffffff;
  color: #444444;
  border: 2px solid #444444; }
  .btn:hover, .btn:focus {
    color: #ffffff;
    background-color: #444444; }
  .btn:active {
    color: rgba(255, 255, 255, 0.3); }

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 320px;
  margin: 0 auto; }
  .main-nav .main-nav__menu,
  .main-nav .main-nav__user-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .main-nav .main-nav__toggle-open {
    display: none; }
  .main-nav--closed .main-nav__toggle-open {
    display: block; }
  .main-nav--closed .main-nav__menu,
  .main-nav--closed .main-nav__user-nav,
  .main-nav--closed .main-nav__toggle-close {
    display: none; }
  .main-nav--no-js .main-nav__menu,
  .main-nav--no-js .main-nav__user-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .main-nav--no-js .main-nav__toggle {
    display: none; }

.main-nav__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 320px;
  padding: 21px 30px 22px 116px;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec; }

.main-nav__logo {
  height: 35px;
  outline: none; }
  .main-nav__logo:hover, .main-nav__logo:focus {
    opacity: 0.6; }
  .main-nav__logo:active {
    opacity: 0.3; }
  .main-nav__logo--index:hover {
    opacity: 1; }

.main-nav__toggle {
  padding: 0;
  margin: 0;
  background-color: inherit;
  border-style: none;
  cursor: pointer; }

.main-nav__menu,
.main-nav__user-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
  width: 320px;
  margin: 0 auto; }

.main-nav__additional {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none; }

.main-nav__delivery {
  display: none; }

.main-nav__item {
  display: block;
  border-bottom: 1px solid #ececec; }

.main-nav__link {
  position: relative;
  display: block;
  color: #000000;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  padding: 27px 30px 27px 76px;
  text-align: left;
  outline: none; }
  .main-nav__link:hover, .main-nav__link:focus {
    color: rgba(0, 0, 0, 0.6); }
  .main-nav__link:active {
    color: rgba(0, 0, 0, 0.3); }
  .main-nav__link--basket svg {
    position: absolute;
    left: 30px;
    top: 29px;
    fill: #231f20;
    opacity: 0.2; }
  .main-nav__link--search svg {
    position: absolute;
    left: 32px;
    top: 31px;
    fill: #231f20;
    opacity: 0.2; }
  .main-nav__link:hover svg,
  .main-nav__link:focus svg {
    opacity: 1;
    fill: #63d1bb; }
  .main-nav__link:active svg {
    opacity: 0.3; }

@media (min-width: 768px) {
  .main-nav {
    position: relative;
    width: 768px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: -42px;
    z-index: 1; }
    .main-nav .main-nav__menu,
    .main-nav .main-nav__user-nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; }
  .main-nav__inner {
    width: 320px;
    padding: 0;
    padding-top: 22px;
    padding-bottom: 20px;
    border: none; }
  .main-nav__logo {
    height: 46px; }
  .main-nav__toggle {
    display: none; }
  .main-nav__menu {
    width: 320px;
    margin: 0;
    padding-top: 18px;
    padding-right: 15px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  .main-nav__menu .main-nav__link {
    font-size: 15px; }
  .main-nav__user-nav {
    width: 348px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .main-nav__item {
    border: none; }
  .main-nav__link {
    padding: 0; }
    .main-nav__link--search {
      width: 84px;
      padding-top: 35px;
      padding-bottom: 53px;
      border-left: 1px solid #ececec;
      border-right: 1px solid #ececec; }
      .main-nav__link--search svg {
        top: auto;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        opacity: 0.2; }
    .main-nav__link--basket svg {
      top: 3px;
      left: -51px; }
  .main-nav__search {
    display: none; }
  .main-nav__delivery {
    margin: 0;
    margin-top: 18px;
    display: block;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; } }

@media (min-width: 1150px) {
  .main-nav {
    width: 1150px; }
  .main-nav__inner {
    width: 149px;
    padding: 0; }
  .main-nav__logo {
    height: 72px; }
  .main-nav__menu {
    width: 450px;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    padding: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .main-nav__menu .main-nav__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 185px;
    padding-top: 31px;
    padding-bottom: 33px; }
    .main-nav__menu .main-nav__item:first-child {
      margin-right: 35px;
      border-right: 1px solid #ececec; }
  .main-nav__menu .main-nav__link {
    width: auto;
    font-size: 17px; }
  .main-nav__user-nav {
    margin-right: 2px; }
  .main-nav__additional {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 18px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 525px; }
  .main-nav__additional .main-nav__item {
    margin-right: 62px; }
  .main-nav__additional .main-nav__link {
    font-size: 15px; } }

.page-main {
  background-color: #ffffff; }

.page-main__container {
  background-color: #f1f1f1; }
  .page-main__container--index {
    background-color: #f9f9f9; }

@media (min-width: 768px) {
  .page-main {
    border-top: 1px solid #ececec; } }

.categories {
  width: 320px;
  margin: 0 auto;
  padding-top: 70px;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% -18px; }

.categories__title {
  margin: 0 30px;
  font-size: 27px;
  line-height: 30px;
  color: #000000;
  font-weight: 700;
  text-align: center; }

.categories__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 122px; }

.categories__item {
  display: block; }

.categories__link {
  display: block;
  position: relative;
  color: #ffffff;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  padding: 26px 160px 29px 30px;
  outline: none; }
  .categories__link--interior {
    background-color: #63d1bb; }
  .categories__link--toys {
    background-color: #56c3b2; }
  .categories__link--interior::after {
    display: block;
    position: absolute;
    content: "";
    width: 40px;
    height: 62px;
    right: 36px;
    top: 23px;
    background: url("../img/icon-interior.svg") no-repeat;
    opacity: 0.5; }
  .categories__link--toys::after {
    display: block;
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    right: 27px;
    top: 21px;
    background: url("../img/icon-toy.svg") no-repeat;
    opacity: 0.5; }
  .categories__link:hover, .categories__link:focus {
    padding-bottom: 34px;
    margin-top: -5px; }
  .categories__link:hover::after, .categories__link:focus::after {
    opacity: 0.7; }
  .categories__link:active {
    color: rgba(255, 255, 255, 0.3); }
  .categories__link:active::after {
    opacity: 0.3; }

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .categories {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: 575px auto; } }

@media (min-width: 768px) {
  .categories {
    position: relative;
    z-index: 0;
    width: 768px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 153px;
    background-image: url("../img/hero-tablet@1x.jpg");
    background-position: 50% 100%; }
    .categories::after {
      display: block;
      position: absolute;
      content: "";
      width: inherit;
      height: 24px;
      bottom: -12px;
      left: 0;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: no-repeat;
      background-size: contain; }
  .categories__title {
    font-size: 43px;
    line-height: 50px; }
  .categories__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 373px; }
  .categories__item {
    width: 334px; }
  .categories__link {
    font-size: 20px;
    line-height: 30px;
    padding-left: 36px;
    padding-top: 28px;
    padding-bottom: 31px; }
    .categories__link--interior::after {
      top: 30px; }
    .categories__link--toys::after {
      right: 33px;
      top: 32px; }
    .categories__link:hover {
      margin-top: -5px;
      padding-bottom: 36px; } }

@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .categories {
    background-image: url("../img/hero-tablet@2x.jpg");
    background-size: 1150px auto; } }

@media (min-width: 1150px) {
  .categories {
    width: 1150px;
    background-image: url("../img/hero-desktop@1x.jpg");
    background-position: 50% 100%; }
    .categories::after {
      height: 34px;
      bottom: -15px;
      background-size: 1150px 40px; }
  .categories__title {
    font-size: 53px;
    line-height: 57px; }
  .categories__list {
    margin-top: 359px; }
  .categories__item {
    width: 525px; }
  .categories__link {
    padding-right: 350px; } }

@media (min-width: 1150px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1150px) and (min-resolution: 144dpi), (min-width: 1150px) and (min-resolution: 1.5dppx) {
  .categories {
    background-image: url("../img/hero-desktop@2x.jpg"); } }

.promo {
  position: relative;
  width: 320px;
  margin: 0 auto;
  padding: 27px 30px 42px; }
  .promo::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-size: 320px 7px;
    background-repeat: no-repeat;
    -webkit-transform: scale(-1);
            transform: scale(-1); }

.promo__title {
  position: relative;
  margin: 0;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 48px; }
  .promo__title::after {
    position: absolute;
    content: "ТОВАР НЕДЕЛИ";
    font-size: 17px;
    line-height: 20px;
    font-weight: 700;
    color: #63d1bb;
    top: 35px;
    left: 0; }

.promo__desc {
  margin: 0 0 27px; }

.promo__list {
  line-height: 20px;
  width: 260px;
  margin-bottom: 39px; }

.promo__term {
  position: relative;
  float: left;
  display: inline; }
  .promo__term::after {
    position: absolute;
    display: block;
    content: "";
    width: 260px;
    height: 1px;
    background-color: #ececec;
    bottom: -11px; }

.promo__value {
  margin-left: 98px;
  margin-bottom: 20px; }

.promo__price {
  margin: 0;
  font-size: 17px;
  font-weight: 700;
  margin-top: 18px;
  text-align: center; }

.promo__order {
  width: 260px;
  font-size: 17px;
  line-height: 20px;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-top: 26px; }

@media (min-width: 768px) {
  .promo {
    position: relative;
    width: 768px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 45px;
    padding-bottom: 69px; }
    .promo::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 17px;
      background-image: url("../img/bg-zigzag-line.svg");
      background-size: 768px 17px;
      background-repeat: no-repeat;
      -webkit-transform: scale(-1);
              transform: scale(-1); }
  .promo__title {
    font-size: 43px;
    line-height: 50px;
    margin-left: -3px; }
    .promo__title::after {
      line-height: 17px;
      top: 12px;
      left: 545px;
      text-align: center; }
  .promo__wrapper {
    position: relative;
    padding-right: 378px; }
  .promo__desc {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 46px; }
  .promo__list {
    width: 291px; }
  .promo__term::after {
    width: 291px; }
  .promo__photo {
    position: absolute;
    top: 9px;
    right: 1px; }
  .promo__price {
    font-size: 20px;
    margin-top: 67px; }
  .promo__order {
    width: 292px;
    margin-top: 34px;
    margin-left: -2px; } }

@media (min-width: 1150px) {
  .promo {
    width: 1150px;
    padding-left: 225px;
    padding-top: 123px;
    padding-bottom: 96px;
    z-index: 0; }
    .promo::after {
      width: 1050px;
      height: 23px;
      left: 50px;
      background-size: 1050px 23px; }
  .promo__title {
    font-size: 53px;
    line-height: 57px; }
    .promo__title::after {
      width: 70px;
      left: -125px;
      top: 15px;
      text-align: center; }
  .promo__wrapper {
    padding-right: 583px; }
  .promo__desc {
    margin-bottom: 58px; }
  .promo__list {
    width: 292px; }
  .promo__term::after {
    width: 292px;
    bottom: -13px; }
  .promo__photo {
    top: -157px;
    right: 0;
    z-index: -1; }
  .promo__price {
    margin-top: 121px; }
  .promo__order {
    margin-left: 0; } }

.about-us {
  width: 320px;
  margin: 0 auto;
  padding: 27px 30px 45px; }

.about-us__title {
  margin: 0;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: #000000; }

.about-us__features {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 62px; }

.about-us__feature {
  position: relative;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
  padding-top: 24px;
  padding-bottom: 10px;
  margin-top: 49px; }
  .about-us__feature::before {
    position: absolute;
    display: block;
    content: "";
    background-repeat: no-repeat;
    background-size: contain; }
  .about-us__feature--eco::before {
    width: 32px;
    height: 37px;
    top: -30px;
    left: 8px;
    background-image: url("../img/icon-feature-flower.svg"); }
  .about-us__feature--style::before {
    width: 47px;
    height: 28px;
    top: -30px;
    left: 0;
    background-image: url("../img/icon-feature-money.svg"); }
  .about-us__feature--likes::before {
    width: 34px;
    height: 28px;
    top: -25px;
    left: 8px;
    background-image: url("../img/icon-feature-heart.svg"); }
  .about-us__feature--manually::before {
    width: 35px;
    height: 34px;
    top: -27px;
    left: 3.5px;
    background-image: url("../img/icon-feature-ball.svg"); }
  .about-us__feature--support::before {
    width: 55px;
    height: 23px;
    top: -26px;
    left: -5.5px;
    background-image: url("../img/icon-feature-rocket.svg"); }
  .about-us__feature--packing::before {
    width: 33px;
    height: 32px;
    top: -28px;
    left: 3px;
    background-image: url("../img/icon-feature-gift.svg"); }

@media (min-width: 768px) {
  .about-us {
    width: 768px;
    padding-top: 49px;
    padding-left: 50px;
    padding-right: 50px; }
  .about-us__title {
    font-size: 43px;
    line-height: 50px;
    margin-left: -4px; }
  .about-us__features {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .about-us__feature {
    width: 334px;
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 28px; }
    .about-us__feature--style {
      -webkit-box-ordinal-group: 4;
          -ms-flex-order: 3;
              order: 3; }
    .about-us__feature--likes {
      -webkit-box-ordinal-group: 6;
          -ms-flex-order: 5;
              order: 5; }
    .about-us__feature--manually {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2; }
    .about-us__feature--support {
      -webkit-box-ordinal-group: 5;
          -ms-flex-order: 4;
              order: 4; }
    .about-us__feature--packing {
      -webkit-box-ordinal-group: 7;
          -ms-flex-order: 6;
              order: 6; } }

@media (min-width: 1150px) {
  .about-us {
    width: 1150px;
    padding-left: 225px;
    padding-top: 60px;
    padding-bottom: 50px; }
  .about-us__title {
    font-size: 53px;
    line-height: 57px; }
  .about-us__feature {
    margin-right: 16px; } }

.reviews {
  position: relative;
  width: 320px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 51px; }
  .reviews::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-size: 320px 7px;
    background-repeat: no-repeat;
    -webkit-transform: scale(-1);
            transform: scale(-1); }

.reviews__title {
  margin: 0;
  margin-bottom: 24px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: #000000; }

.reviews__text {
  margin: 0;
  line-height: 30px;
  margin-bottom: 27px; }

.reviews__name {
  margin: 0;
  margin-bottom: 6px;
  font-size: 17px;
  font-weight: 700;
  color: #000000; }

.reviews__instagram {
  font-size: 17px;
  color: #444444;
  outline: none; }
  .reviews__instagram:hover, .reviews__instagram:focus {
    color: #63d1bb; }
  .reviews__instagram:active {
    opacity: 0.3; }

.reviews__switch {
  position: relative;
  margin-top: 32px;
  border: 1px solid #ececec;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .reviews__switch::before {
    position: absolute;
    display: block;
    content: "";
    width: 1px;
    height: 100%;
    background-color: #ececec;
    left: 50%; }

.reviews__prev {
  margin: 0;
  padding: 0;
  border-style: none;
  width: 130px;
  height: 50px;
  cursor: pointer;
  background: url("../img/icon-left-arrow.svg") no-repeat 37px 50%;
  background-color: inherit;
  outline: none; }
  .reviews__prev:hover, .reviews__prev:focus {
    opacity: 0.6; }
  .reviews__prev:active {
    opacity: 0.3; }

.reviews__next {
  margin: 0;
  padding: 0;
  border-style: none;
  width: 130px;
  height: 50px;
  cursor: pointer;
  background: url("../img/icon-right-arrow.svg") no-repeat 38px 50%;
  background-color: inherit;
  outline: none; }
  .reviews__next:hover, .reviews__next:focus {
    opacity: 0.6; }
  .reviews__next:active {
    opacity: 0.3; }

.reviews__write {
  width: 260px;
  font-size: 18px;
  line-height: 20px;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-top: 38px; }

@media (min-width: 768px) {
  .reviews {
    position: relative;
    width: 768px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 77px;
    padding-bottom: 135px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 350px 457px; }
    .reviews::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 17px;
      background-image: url("../img/bg-zigzag-line.svg");
      background-size: 768px 17px;
      background-repeat: no-repeat;
      -webkit-transform: scale(-1);
              transform: scale(-1); }
  .reviews__title {
    font-size: 43px;
    line-height: 50px;
    margin-left: -4px;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1; }
  .reviews__text {
    font-size: 17px;
    margin-top: 25px; }
  .reviews__switch {
    margin-top: 34px;
    margin-right: 19px;
    border: none; }
    .reviews__switch::before {
      display: none; }
  .reviews__prev {
    width: 50px;
    background-position: 0 50%;
    margin-right: 37px; }
  .reviews__next {
    width: 50px;
    background-position: 0 50%; }
  .reviews__write {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    width: 175px;
    margin-top: 2px;
    font-size: 17px;
    -ms-flex-item-align: start;
        align-self: flex-start; } }

@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .reviews {
    background-image: url("../img/review@2x.jpg"); } }

@media (min-width: 1150px) {
  .reviews {
    width: 1150px;
    padding-left: 225px;
    padding-top: 71px;
    padding-bottom: 189px;
    background-position: 50px 1px; }
    .reviews::after {
      width: 1050px;
      height: 24px;
      left: 50px;
      background-size: 1050px 24px; }
  .reviews__title {
    font-size: 53px;
    line-height: 57px; }
  .reviews__text {
    margin-bottom: 8px;
    padding-right: 74px; }
  .reviews__write {
    margin-top: 9px; } }

.contacts {
  width: 320px;
  margin: 0 auto;
  padding: 35px 30px 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.contacts__title {
  margin: 0 0 11px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000; }

.contacts__list {
  line-height: 30px;
  margin-bottom: 7px; }

.contacts__item {
  float: left;
  display: inline; }

.contacts__desc {
  margin-left: 77px;
  margin-bottom: 30px; }

.contacts__mail {
  position: relative;
  color: #444444;
  padding-bottom: 5px;
  outline: none; }
  .contacts__mail::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #46c1ae;
    bottom: 0; }
  .contacts__mail:hover, .contacts__mail:focus {
    color: #46c1ae; }
  .contacts__mail:active {
    color: rgba(70, 193, 174, 0.3); }
  .contacts__mail:active::after {
    opacity: 0.1; }

.contacts__write-us {
  width: 260px;
  font-size: 18px;
  line-height: 20px;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-top: 39px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1; }

@media (min-width: 768px) {
  .contacts {
    width: 768px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 61px;
    padding-bottom: 57px; }
  .contacts__title {
    position: relative;
    font-size: 43px;
    line-height: 50px;
    margin-left: -4px; }
    .contacts__title::after {
      position: absolute;
      content: "";
      width: 47px;
      height: 81px;
      background-image: url("../img/icon-flag.svg");
      background-repeat: no-repeat;
      top: -15px;
      right: 3px; }
  .contacts__list {
    width: 100%;
    font-size: 17px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 38px;
    padding-right: 35px; }
  .contacts__desc {
    margin: 0;
    margin-bottom: 49px;
    margin-left: 24px;
    margin-right: 52px; }
    .contacts__desc:nth-of-type(2n) {
      margin-right: 0; }
  .contacts__write-us {
    width: 230px;
    font-size: 17px;
    margin: 0 auto;
    margin-top: 55px; } }

@media (min-width: 1150px) {
  .contacts {
    position: relative;
    width: 1150px;
    padding-left: 225px;
    padding-top: 140px;
    padding-right: 525px;
    padding-bottom: 105px; }
  .contacts__title {
    font-size: 53px;
    line-height: 57px; }
    .contacts__title::after {
      left: -108px;
      top: -7px; }
  .contacts__list {
    display: block;
    width: 350px;
    padding: 0; }
  .contacts__desc {
    margin-right: 0;
    margin-left: 77px;
    margin-bottom: 30px; }
  .contacts__write-us {
    margin: 0;
    margin-top: 43px; } }

.map {
  width: 320px;
  margin-left: -30px;
  height: 457px;
  background-image: url("../img/icon-map-pin.svg"), url("../img/map-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: 138px 145px, 50% 50%; }

.map iframe {
  position: absolute;
  width: 100%;
  height: 457px;
  left: 0; }

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .map {
    background-image: url("../img/icon-map-pin.svg"), url("../img/map-mobile@2x.jpg");
    background-size: auto auto, 322px auto; } }

@media (min-width: 768px) {
  .map {
    width: 768px;
    margin-left: -50px;
    background-image: url("../img/icon-map-pin.svg"), url("../img/map-tablet@1x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: 364px 139px, 50% 50%; }
  .map iframe {
    position: absolute;
    width: 100%;
    height: 457px;
    left: 0; } }

@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .map {
    background-image: url("../img/icon-map-pin.svg"), url("../img/map-tablet@2x.jpg");
    background-size: auto auto, 768px auto; } }

@media (min-width: 1150px) {
  .map {
    position: absolute;
    width: 525px;
    margin: 0;
    background-image: url("../img/icon-map-pin.svg"), url("../img/map-desktop@1x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: 240px 146px, 50% 50%;
    top: 71px;
    right: 51px; } }

@media (min-width: 1150px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1150px) and (min-resolution: 144dpi), (min-width: 1150px) and (min-resolution: 1.5dppx) {
  .map {
    background-image: url("../img/icon-map-pin.svg"), url("../img/map-desktop@2x.jpg");
    background-size: auto auto, 525px auto; } }

.page-footer {
  background-color: #f1f1f1; }

.page-footer__wrapper {
  width: 320px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 26px;
  padding-top: 25px; }

.page-footer__logo {
  display: none;
  outline: none; }

.page-footer__social {
  padding-bottom: 11px; }

.page-footer__developer {
  display: block;
  margin-top: 20px;
  margin-left: 38px; }

@media (min-width: 768px) {
  .page-footer__wrapper {
    width: 768px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 49px;
    padding-bottom: 46px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .page-footer__logo {
    display: block;
    height: 34px;
    margin-right: 77px;
    margin-bottom: 10px; }
    .page-footer__logo svg {
      fill: #231f20; }
    .page-footer__logo:hover svg,
    .page-footer__logo:focus svg {
      fill: #46c1ae; }
    .page-footer__logo:active svg {
      opacity: 0.3; }
    .page-footer__logo--index:hover svg,
    .page-footer__logo--index:focus svg {
      fill: #231f20; }
    .page-footer__logo--index:active svg {
      opacity: 1; }
  .page-footer__social {
    margin: 0;
    padding: 0; }
  .page-footer__developer {
    margin: 0; } }

@media (min-width: 1150px) {
  .page-footer__wrapper {
    width: 1150px; } }

.social {
  width: 260px;
  border-bottom: 1px solid #e5e5e5; }

.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 18px; }

.social__item {
  margin-right: 40px;
  margin-bottom: 15px; }

.social__link {
  display: block;
  outline: none; }
  .social__link--instagram {
    width: 22px;
    height: 21px; }
  .social__link--facebook {
    width: 15px;
    height: 28px; }
  .social__link--twitter {
    width: 23px;
    height: 20px; }
  .social__link svg {
    fill: #231f20; }
  .social__link:hover svg,
  .social__link:focus svg {
    fill: #46c1ae; }
  .social__link:active svg {
    opacity: 0.3; }

@media (min-width: 768px) {
  .social {
    width: 160px;
    border: none;
    margin-left: 18px; }
  .social__list {
    margin-left: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .social__item {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px; } }

.developer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 182px;
  height: 34px;
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
  position: relative;
  outline: none; }
  .developer:active {
    opacity: 0.3; }
  .developer svg {
    position: absolute;
    right: 0;
    top: 2px;
    fill: #63d1bb; }
  .developer:hover svg,
  .developer:focus svg {
    fill: #46c1ae; }

.current-section {
  width: 320px;
  margin: 0 auto;
  padding: 70px 30px 76px; }

.current-section__title {
  margin: 0 0 0 10px;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  color: #000000; }

@media (min-width: 768px) {
  .current-section {
    position: relative;
    width: 768px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 95px;
    padding-bottom: 80px; }
    .current-section::after {
      display: block;
      position: absolute;
      content: "";
      width: 100%;
      height: 24px;
      bottom: -12px;
      left: 0;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: no-repeat;
      background-size: contain; }
  .current-section__title {
    width: auto;
    margin: 0;
    font-size: 43px;
    line-height: 50px;
    text-align: center; } }

@media (min-width: 1150px) {
  .current-section {
    padding-top: 93px;
    padding-bottom: 100px;
    width: 1150px; }
    .current-section::after {
      height: 34px;
      bottom: -18px;
      background-size: 1150px 40px; }
  .current-section__title {
    font-size: 53px;
    line-height: 57px; } }

.catalog {
  background-color: #ffffff;
  width: 320px;
  margin: 0 auto;
  padding: 30px 30px 0; }

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.catalog__item {
  margin-bottom: 30px; }
  .catalog__item:focus-within .catalog__desc-wrapper,
  .catalog__item:hover .catalog__desc-wrapper {
    -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1); }
  .catalog__item:active .catalog__desc-wrapper {
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); }

.catalog__photo-link {
  display: block;
  height: 195px;
  outline: none; }

.catalog__desc-wrapper {
  position: relative;
  padding-top: 26px;
  padding-left: 28px;
  padding-right: 26px;
  border: 1px solid #ededed;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.catalog__title {
  font-size: 17px;
  font-weight: 700;
  color: #000000;
  outline: none; }
  .catalog__title:hover, .catalog__title:focus {
    opacity: 0.6; }
  .catalog__title:active {
    opacity: 0.3; }

.catalog__desc {
  margin-bottom: 19px;
  margin-top: 5px;
  font-size: 13px;
  line-height: 30px; }

.catalog__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 28px;
  border-top: 1px solid #ececec; }

.catalog__price {
  margin: 0;
  font-weight: 700;
  color: #000000; }

.catalog__basket {
  display: block;
  margin-top: 2px;
  width: 20px;
  height: 19px;
  outline: none; }
  .catalog__basket svg {
    fill: #231f20;
    opacity: 0.2; }
  .catalog__basket:hover svg,
  .catalog__basket:focus svg {
    opacity: 1;
    fill: #63d1bb; }
  .catalog__basket:active svg {
    opacity: 0.3; }

@media (min-width: 768px) {
  .catalog {
    width: 768px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 79px; }
  .catalog__item {
    width: 668px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 54px; }
    .catalog__item:focus-within .catalog__desc-wrapper,
    .catalog__item:hover .catalog__desc-wrapper {
      -webkit-box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.1);
              box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.1); }
    .catalog__item:active .catalog__desc-wrapper {
      -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
              box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1); }
  .catalog__photo-link {
    width: 334px;
    height: 334px; }
  .catalog__desc-wrapper {
    width: 334px;
    padding-top: 25px;
    padding-left: 27px;
    padding-right: 32px;
    -ms-flex-item-align: stretch;
        align-self: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .catalog__title {
    font-size: 20px; }
  .catalog__desc {
    font-size: 15px;
    margin-bottom: auto; }
  .catalog__container {
    margin-left: 5px;
    padding-top: 22px;
    padding-bottom: 26px; }
  .catalog__price {
    font-size: 17px; }
  .catalog__basket {
    margin-top: 0; } }

@media (min-width: 1150px) {
  .catalog {
    width: 1150px;
    padding-top: 132px; }
  .catalog__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .catalog__item {
    width: 315px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 57px; }
    .catalog__item:focus-within .catalog__desc-wrapper,
    .catalog__item:hover .catalog__desc-wrapper {
      -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
              box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1); }
    .catalog__item:active .catalog__desc-wrapper {
      -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
              box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); }
  .catalog__photo-link {
    width: 316px;
    height: 462px; }
  .catalog__desc-wrapper {
    width: 316px;
    min-height: 197px; }
  .catalog__container {
    margin: 0; } }

.production {
  width: 320px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 58px; }

.production__wrapper {
  border: 1px solid #ececec;
  padding-right: 34px;
  padding-top: 24px;
  padding-bottom: 32px;
  width: 100%; }
  .production__wrapper:hover, .production__wrapper:focus-within {
    -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1); }
  .production__wrapper:active {
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); }

.production__title {
  position: relative;
  margin: 0;
  margin-bottom: 24px;
  font-size: 17px;
  font-weight: 700;
  color: #000000;
  padding-left: 89px; }
  .production__title::before {
    display: block;
    position: absolute;
    content: "";
    width: 32px;
    height: 32px;
    background: url("../img/icon-video.svg") no-repeat;
    left: 33px;
    top: 6px; }

.production__container {
  height: 150px;
  position: relative;
  width: 260px;
  margin-bottom: 27px;
  background-image: url("../img/video-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: -1px 100%; }

.production__play {
  position: absolute;
  display: block;
  width: 101px;
  height: 77px;
  background-image: url("../img/icon-play.svg");
  background-repeat: no-repeat;
  top: 37px;
  left: 79px;
  outline: none; }
  .production__play:hover, .production__play:focus {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
  .production__play:active {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 0.3; }

.production__text {
  margin: 0;
  font-size: 13px;
  margin-left: 34px; }

.production__order {
  width: 192px;
  font-size: 17px;
  line-height: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-left: 33px;
  margin-top: 25px; }

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .production__container {
    background-image: url("../img/video-mobile@2x.jpg");
    background-size: 260px auto; } }

@media (min-width: 768px) {
  .production {
    width: 768px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 63px; }
  .production__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 0;
    padding-bottom: 45px; }
  .production__title {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 32px;
    padding-left: 105px; }
    .production__title::before {
      top: -5px;
      left: 40px; }
  .production__container {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    height: 455px;
    width: 668px;
    border-bottom: 1px solid #ececec;
    background-image: url("../img/video-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: -1px 0; }
  .production__play {
    top: 187px;
    left: 283px; }
  .production__text {
    font-size: 15px;
    line-height: 30px;
    margin-left: 40px; }
  .production__order {
    width: 584px;
    margin-left: 41px;
    margin-top: 35px; } }

@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .production__container {
    background-image: url("../img/video-tablet@2x.jpg");
    background-size: 668px auto; } }

@media (min-width: 1150px) {
  .production {
    width: 1150px;
    margin-bottom: 105px; }
  .production__wrapper {
    position: relative;
    padding: 0;
    padding-left: 760px;
    padding-right: 56px;
    padding-top: 95px;
    padding-bottom: 59px; }
  .production__container {
    position: absolute;
    width: 683px;
    height: 453px;
    background-image: url("../img/video-desktop@1x.jpg");
    background-position: -1px -1px;
    border: none;
    left: 0;
    top: 0; }
  .production__play {
    top: 189px;
    left: 290px; }
  .production__title {
    padding: 0;
    margin: 0;
    margin-bottom: 32px; }
    .production__title::before {
      top: -54px;
      left: 1px; }
  .production__text {
    margin-left: 0;
    margin-bottom: 12px; }
  .production__order {
    margin-left: 0;
    width: 230px; } }

@media (min-width: 1150px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1150px) and (min-resolution: 144dpi), (min-width: 1150px) and (min-resolution: 1.5dppx) {
  .production__container {
    background-image: url("../img/video-desktop@2x.jpg");
    background-size: 682px auto; } }

.form-order {
  padding-top: 22px;
  padding-bottom: 55px; }

.form-order__desc {
  margin: 0 auto;
  width: 320px;
  font-size: 13px;
  padding-left: 30px;
  padding-right: 30px; }

.form-order__message,
.form-order__set {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
  border-style: none; }
  .form-order__message--type,
  .form-order__set--type {
    padding-top: 25px; }
  .form-order__message--color,
  .form-order__set--color {
    padding-top: 21px;
    padding-bottom: 8px; }
  .form-order__message--contacts,
  .form-order__set--contacts {
    padding-top: 9px; }

.form-order__title {
  position: relative;
  margin: 0;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #63d1bb; }
  .form-order__title::after {
    position: absolute;
    display: block;
    content: "";
    width: 198px;
    height: 1px;
    background-color: #63d1bb;
    top: 7px;
    right: 0; }

.form-order__list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 260px; }
  .form-order__list--type {
    margin-top: 33px; }
  .form-order__list--color {
    margin-top: 27px; }
  .form-order__list--fullname {
    margin-top: 22px; }
  .form-order__list--contacts {
    margin-top: 7px; }

.form-order__type-item {
  margin-bottom: 24px;
  padding-left: 63px;
  width: 260px; }

.form-order__item {
  display: block;
  position: relative;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
  cursor: pointer; }
  .form-order__item--type::before {
    position: absolute;
    display: block;
    content: "";
    width: 39px;
    height: 39px;
    background: #ffffff;
    border: 2px solid #444444;
    border-radius: 50%;
    left: -63px;
    top: -9px; }
    .form-order__item--type::before:hover {
      border-color: #63d1bb; }
    .form-order__item--type::before:active {
      border-color: rgba(68, 68, 68, 0.3); }
  .form-order__item--type:hover::before {
    border-color: #63d1bb; }
  .form-order__item--type:active::before {
    border-color: rgba(68, 68, 68, 0.3); }
  .form-order__item--color::before {
    position: absolute;
    display: block;
    content: "";
    width: 40px;
    height: 39px;
    background: transparent;
    border: 2px solid #444444;
    left: -63px;
    top: -11px; }
    .form-order__item--color::before:hover {
      border-color: #63d1bb; }
    .form-order__item--color::before:active {
      border-color: rgba(68, 68, 68, 0.3); }
  .form-order__item--color:hover::before {
    border-color: #63d1bb; }
  .form-order__item--color:active::before {
    border-color: rgba(68, 68, 68, 0.3); }
  .form-order__item--desc {
    position: relative;
    font-size: 17px;
    line-height: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #63d1bb; }
    .form-order__item--desc::after {
      position: absolute;
      display: block;
      content: "";
      width: 198px;
      height: 1px;
      background-color: #63d1bb;
      top: 8px;
      right: 0; }
  .form-order__item--email::after {
    width: 179px; }

.form-order__radio:checked + .form-order__item::before {
  background: radial-gradient(#63d1bb, #63d1bb 8px, #ffffff 8px, #ffffff 20px); }

.form-order__radio:focus + .form-order__item::before,
.form-order__checkbox:focus + .form-order__item::before {
  border-color: #63d1bb; }

.form-order__checkbox:checked + .form-order__item::before {
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 22px, 16px; }

.form-order__color-item {
  padding-top: 8px;
  margin-bottom: 35px;
  padding-left: 63px; }

.form-order__fullname-item {
  padding-top: 6.8px;
  margin-bottom: 16px; }

.form-order__contacts-item {
  margin-bottom: 32px;
  position: relative; }

.form-order__name,
.form-order__contact,
.form-order__text {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  height: 51px;
  width: 260px;
  border: none;
  border-bottom: 2px solid #000000;
  outline: none; }
  .form-order__name::-webkit-input-placeholder, .form-order__contact::-webkit-input-placeholder, .form-order__text::-webkit-input-placeholder {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 17px;
    line-height: 18px;
    color: rgba(68, 68, 68, 0.3); }
  .form-order__name::-moz-placeholder, .form-order__contact::-moz-placeholder, .form-order__text::-moz-placeholder {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 17px;
    line-height: 18px;
    color: rgba(68, 68, 68, 0.3); }
  .form-order__name:-ms-input-placeholder, .form-order__contact:-ms-input-placeholder, .form-order__text:-ms-input-placeholder {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 17px;
    line-height: 18px;
    color: rgba(68, 68, 68, 0.3); }
  .form-order__name::-ms-input-placeholder, .form-order__contact::-ms-input-placeholder, .form-order__text::-ms-input-placeholder {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 17px;
    line-height: 18px;
    color: rgba(68, 68, 68, 0.3); }
  .form-order__name::placeholder,
  .form-order__contact::placeholder,
  .form-order__text::placeholder {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 17px;
    line-height: 18px;
    color: rgba(68, 68, 68, 0.3); }
  .form-order__name:hover, .form-order__name:focus,
  .form-order__contact:hover,
  .form-order__contact:focus,
  .form-order__text:hover,
  .form-order__text:focus {
    border-color: #63d1bb; }

.form-order__contact {
  margin-top: 8px; }
  .form-order__contact:hover + svg,
  .form-order__contact:focus + svg {
    opacity: 1;
    fill: #63d1bb; }

.form-order__icon-phone {
  position: absolute;
  top: 34px;
  right: 8px;
  fill: #231f20;
  opacity: 0.2; }

.form-order__icon-mail {
  position: absolute;
  top: 34px;
  right: 4px;
  fill: #231f20;
  opacity: 0.2; }

.form-order__text {
  margin-top: 25px;
  margin-bottom: 10px;
  padding-left: 15px;
  padding-right: 10px;
  padding-top: 14px;
  padding-bottom: 10px;
  border: 2px solid #444444;
  min-height: 142px; }

.form-order__required {
  margin: 0;
  font-size: 14px;
  line-height: 16px; }

.form-order__send {
  width: 260px;
  margin: 0 auto;
  padding: 0;
  font-size: 17px;
  line-height: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-top: 31px; }

@media (min-width: 768px) {
  .form-order {
    padding-top: 72px;
    padding-bottom: 50px; }
  .form-order__container {
    background-color: #f1f1f1; }
  .form-order__desc {
    width: 768px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 17px;
    line-height: 30px; }
  .form-order__set {
    width: 768px;
    padding-left: 50px;
    padding-right: 50px; }
    .form-order__set--type {
      padding-top: 73px;
      padding-bottom: 10px; }
    .form-order__set--color {
      padding-top: 65px;
      padding-bottom: 11px; }
    .form-order__set--fullname {
      padding-top: 47px;
      padding-bottom: 29px; }
    .form-order__set--contacts {
      padding-top: 39px;
      padding-bottom: 37px; }
  .form-order__wrapper {
    width: 668px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline; }
  .form-order__title {
    margin-top: 2px;
    margin-left: 2px; }
    .form-order__title::after {
      display: none; }
  .form-order__list {
    width: 501px;
    margin-top: 0; }
    .form-order__list--type {
      margin-left: 129px; }
    .form-order__list--color {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      margin-left: 121px; }
    .form-order__list--fullname {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-left: 124px; }
  .form-order__type-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 501px;
    padding-left: 80px;
    margin-bottom: 58px; }
  .form-order__item {
    font-size: 19px; }
    .form-order__item--type::before {
      width: 52px;
      height: 52px;
      left: -80px;
      top: -16px; }
    .form-order__item--color::before {
      width: 54px;
      height: 52px;
      top: -15px;
      left: -81px; }
    .form-order__item--desc {
      font-size: 17px;
      line-height: 16px;
      margin-left: 1px; }
      .form-order__item--desc::after {
        display: none; }
  .form-order__radio:checked + .form-order__item::before {
    background: radial-gradient(#63d1bb, #63d1bb 11px, #ffffff 11px); }
  .form-order__color-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 239px;
    padding-top: 0;
    padding-left: 81px;
    margin-bottom: 58px;
    margin-right: 22px; }
    .form-order__color-item:nth-of-type(2n) {
      margin-right: 0; }
  .form-order__checkbox:checked + .form-order__item::before {
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 33px, 22px; }
  .form-order__fullname-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 501px;
    padding-top: 0;
    margin-bottom: 21px; }
  .form-order__name {
    width: 375px;
    font-size: 19px;
    margin-left: 25px;
    padding-left: 17px;
    height: 55px; }
    .form-order__name--name {
      width: 427px;
      padding-left: 15px; }
    .form-order__name::-webkit-input-placeholder {
      font-size: 19px; }
    .form-order__name::-moz-placeholder {
      font-size: 19px; }
    .form-order__name:-ms-input-placeholder {
      font-size: 19px; }
    .form-order__name::-ms-input-placeholder {
      font-size: 19px; }
    .form-order__name::placeholder {
      font-size: 19px; }
  .form-order__contacts-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    position: relative;
    width: 668px;
    margin-bottom: 13px; }
  .form-order__contact {
    width: 501px;
    font-size: 19px;
    height: 55px;
    padding-left: 17px;
    background-color: transparent; }
    .form-order__contact::-webkit-input-placeholder {
      font-size: 19px; }
    .form-order__contact::-moz-placeholder {
      font-size: 19px; }
    .form-order__contact:-ms-input-placeholder {
      font-size: 19px; }
    .form-order__contact::-ms-input-placeholder {
      font-size: 19px; }
    .form-order__contact::placeholder {
      font-size: 19px; }
  .form-order__icon-phone {
    right: 26px;
    top: 22px; }
  .form-order__icon-mail {
    right: 22px;
    top: 22px; }
  .form-order__message {
    width: 768px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline; }
  .form-order__text {
    width: 501px;
    font-size: 19px;
    margin: 0;
    padding-top: 13px; }
    .form-order__text::-webkit-input-placeholder {
      font-size: 19px; }
    .form-order__text::-moz-placeholder {
      font-size: 19px; }
    .form-order__text:-ms-input-placeholder {
      font-size: 19px; }
    .form-order__text::-ms-input-placeholder {
      font-size: 19px; }
    .form-order__text::placeholder {
      font-size: 19px; }
  .form-order__required {
    width: auto;
    margin: 0;
    padding: 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    font-size: 17px;
    line-height: 30px; }
  .form-order__send {
    margin: 0;
    margin-top: 53px;
    width: 230px; } }

@media (min-width: 1150px) {
  .form-order {
    padding-top: 125px; }
  .form-order__desc {
    padding: 0;
    width: 700px; }
  .form-order__set {
    width: 1150px; }
    .form-order__set--type {
      padding-bottom: 9px; }
  .form-order__wrapper {
    width: 1050px;
    padding-left: 63px; }
  .form-order__list {
    width: 1050px; }
    .form-order__list--type {
      margin-left: 74px; }
    .form-order__list--color {
      margin-left: 66px; }
    .form-order__list--fullname {
      margin-left: 70px; }
    .form-order__list--contacts {
      padding-left: 61px; }
  .form-order__color-item {
    margin-right: 23px;
    margin-bottom: 58px; }
    .form-order__color-item:nth-of-type(2n) {
      margin-right: 23px; }
  .form-order__fullname-item {
    width: 700px; }
  .form-order__name {
    width: 573px; }
    .form-order__name--name {
      width: 625px; }
  .form-order__contacts-item {
    width: 813px; }
  .form-order__contact {
    width: 700px; }
  .form-order__icon-phone {
    right: 7px; }
  .form-order__icon-mail {
    right: 3px; }
  .form-order__message {
    padding-top: 50px;
    padding-left: 112px;
    padding-right: 225px;
    width: 1150px; }
    .form-order__message .form-order__item {
      margin-top: 17px; }
  .form-order__text {
    width: 700px; }
  .form-order__send {
    margin-top: 49px;
    margin-left: 113px; } }

.modal-overlay {
  display: none;
  top: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 90; }
  .modal-overlay--show {
    display: block; }

.modal {
  display: none;
  position: fixed;
  top: 25%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 320px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 46px;
  margin: 0 auto;
  border: 1px solid #c7c7c7;
  background-color: #ffffff;
  -webkit-box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
          box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
  z-index: 100; }
  .modal--show {
    display: block; }

.modal__title {
  margin: 0;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  color: #000000; }

.modal__form {
  width: 260px; }

.modal__set {
  padding: 0;
  margin: 0;
  border: none; }

.modal__text {
  text-align: center; }

.modal__sizes {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 260px;
  margin-top: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.modal__item {
  width: 82px;
  min-height: 52px; }

.modal__size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: inherit;
  border: 2px solid rgba(68, 68, 68, 0.1);
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  cursor: pointer; }
  .modal__size:hover {
    border-color: rgba(68, 68, 68, 0.3); }

.modal__radio:checked + .modal__size {
  border-color: #63d1bb; }

.modal__to-cart {
  font-size: 17px;
  line-height: 16px;
  color: #ffffff;
  background-color: #63d1bb;
  border: none;
  margin-top: 31px;
  padding-top: 18px;
  padding-bottom: 18px;
  width: 260px; }
  .modal__to-cart:hover, .modal__to-cart:focus {
    background-color: #46c1ae; }
  .modal__to-cart:active {
    color: rgba(255, 255, 255, 0.3); }

@media (min-width: 768px) {
  .modal {
    padding-top: 33px;
    width: 566px; }
  .modal__title {
    font-size: 30px;
    line-height: 57px; }
  .modal__form {
    margin: 0 auto;
    width: 350px; }
  .modal__text {
    margin-top: 14px;
    font-size: 17px;
    line-height: 30px; }
  .modal__sizes {
    margin-top: 21px;
    width: 350px; }
  .modal__item {
    width: 112px; }
  .modal__to-cart {
    width: 350px; } }

/*# sourceMappingURL=style.css.map */
