$main-color: #ffffff;
$decorative-color1: #63d1bb;
$decorative-color2: #46c1ae;
$background-color: #f1f1f1;
$secondary-color: #444444;
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1150px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
